name: ManualBuild

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      GAME_VERSION: EMERALD
      GAME_REVISION: 0
      GAME_LANGUAGE: ENGLISH
      MODERN: 0
      COMPARE: 0
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout agbcc
        uses: actions/checkout@v4
        with:
          path: agbcc
          repository: pret/agbcc

      - name: Install dependencies
        run: |
      sudo apt update
      sudo apt install -y \
      gcc-arm-none-eabi \
      binutils-arm-none-eabi \
      libpng-dev \
      zlib1g-dev


      - name: Install agbcc
        run: |
          ./build.sh
          ./install.sh ../
        working-directory: agbcc

      - name: Agbcc
        run: make -j${nproc} all

      - name: Upload gba
        uses: actions/upload-artifact@v4
        with:
          name: pokeemerald_built
          path: pokeemerald.gba
          
      - name: Upload map
        uses: actions/upload-artifact@v4
        with:
          name: pokeemerald_map
          path: pokeemerald.map
