name: ManualBuild

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      GAME_VERSION: EMERALD
      GAME_REVISION: 0
      GAME_LANGUAGE: ENGLISH
      MODERN: 0
      COMPARE: 0

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout agbcc
        uses: actions/checkout@v4
        with:
          path: agbcc
          repository: pret/agbcc

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            gcc-arm-none-eabi \
            binutils-arm-none-eabi \
            libpng-dev \
            zlib1g-dev

      - name: Build and install agbcc
        working-directory: agbcc
        run: |
          ./build.sh
          ./install.sh ../

      - name: Build ROM
        run: make -j$(nproc) all

      - name: Upload gba
        uses: actions/upload-artifact@v4
        with:
          name: pokeemerald_built
          path: pokeemerald.gba
